* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


body {
    font-family: 'Kanit',sans-serif;
    font-size: 20px;
}

.container {
    width:100%
}

.Idiomas {
    width: 100%;
    margin-top: 20px;
    text-align: right;
    justify-content: space-between;
}

.input-validation-error {
    border: 1px solid #a94442 !important;
}

.field-validation-error {
    color: #a94442;
    font-weight: bold;
}

.div-validation-error {
    text-align: left;
}

/* latin */
@font-face {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 400;
    src: local('Kanit Regular'), local('Kanit-Regular'), url(https://fonts.gstatic.com/s/kanit/v3/nKKZ-Go6G5tXcraVGwA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.vertical-align {
    height: 80vh;
    display:flex;
    align-items: center;
    text-align:center;
    justify-content:center;
}
.proyecto {
    width: 80%;
    max-width:350px;
    cursor: pointer;  
    background-color: rgba(0,42,66,.4);
    box-shadow: 0px 0px  32px -1px rgba(0, 42, 66,.7);
    padding:15px 15px;
    border-radius:50px;
     
}

.proyecto img {
    width: 100%;
    max-width:200px;
  
}

.container .row img {
    width: 12%;
    max-width:70px;
}

#HeaderWorker {
  display:flex;/*Coloca los elementos en linea horizontalmente*/
  flex-direction: row;/*Los elementos se acomodan en una sola fila*/
  justify-content: space-between;/*Espacio entre los elementos *justificado**/
  align-items: center;/*alinacion vertical*/
  position: relative;
  z-index: 100;
}

.margin-TB-2{
    margin-bottom:0.2em;
    margin-top:0.2em;
}

.cursor-pointer{
    cursor:pointer;
}