* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../Content/Images/fondoLogIn.jpg');
    background-repeat: no-repeat;
    background-position: center;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}

.contenedor {
    width: 90%;
    max-width: 600px;
    background: #D8D8D8;
    max-resolution: 0 auto;
    border-radius: 20px 20px;
    padding: 20px;
    opacity: 0.8;
    text-align: center;
}

.logo {
    width: 40%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.AceroMansonryText {
    font-family: 'Kanit',sans-serif;
    font-weight: bold;
    font-size: xx-large;
    color: #cd3232;
}

.spaceBetween {
    padding: 10px;
}
